body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 227, 176);
    font-family: "VT323","monospace";
}
.score{
    display: flex;
    justify-content: center;
    gap: 350px;
}
#board{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#game-board{
    display: grid;
    grid-template-columns: repeat(25,20px);
    grid-template-rows: repeat(25,20px);
    border-radius: 100px;
    margin: 5px;
}
.game-border-1{
    border: #595f43 solid 10px;
    border-radius: 40px;
    box-shadow: inset 0 0 0 10px #595f43;
}
.game-border-2{
    border: #99ad50 solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #99ad50;
}
.game-border-3{
    border: #949f6d solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #949f6d;
}
#instruction-text{
    position: absolute;
    top: 78%;
    left: 50%;
    color: rgb(109, 101, 101);
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    transform: translate(-50%, -50%);
    padding: 30px;
    margin: 0px;
    /* z-index: 2; */
    
}

#score{
    color: #99ad50;
}
#highest-score{
    color: #84867c;
    visibility: hidden;
}
#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translate(-50%, -50%);
    /* opacity: 0.7; */
    /* z-index: 2; */
}
.game-border-3, 
.begin-background{
    background-color: bisque;

}
.snake{
    background-color: rgb(29, 203, 29);
    border: 3px solid rgb(1, 114, 1);
    border-radius: 3px;
}
.food{
    background-color: red;
    border: 3px solid rgb(176, 3, 3);
    border-radius: 10px;
}